<!-- menu.html -->
  <header data-bs-theme="dark">
    <div class="collapse text-bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4>Каталог</h4>
            <p class="text-body-secondary">Краткая информация</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4>Главная</h4>
            <ul class="list-unstyled">
              {% if user.is_authenticated %}
              <li>
                <form method="post" action="{% url 'users_app:logout' %}" style="display: inline;">
                    {% csrf_token %}
                    <button type="submit" class="text-black" style="background: none; border: none; cursor: pointer; color: blue; text-decoration: underline; padding: 0;">
                      Выйти
                    </button>
                  </form>
              </li>
              {% else %}
              <li><a href="{% url 'users_app:register' %}" class="text-black">Регистрация</a></li>
              <li><a href="{% url 'users_app:login' %}" class="text-black">Вход</a></li>
              {% endif %}
              <li><a href="{% url 'catalog:contacts_new' %}" class="text-black">Контакты</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24">


          </svg>  </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
      </div>
    </div>
  </header>
